@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --skin-color: #ffc107;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: #f2f2fc;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Title Section */

.section-title {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  color: var(--text-black-900);
}

.section-title::before {
  left: 0;
  top: 100%;
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: #ffc107;
}

.section-title::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: #ffc107;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

/* ========== Nav Bar  ========== */

nav {
  padding: 15px !important;

  ul {
    li {
      a {
        font-size: 18px !important;
      }
    }
  }

  button {
    border: none;
  }

  .registerBtn {
    a {
      color: #fff;
    }
  }
  #nameUser {
    margin: 0 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
  }
}

/* ========== Register  ========== */

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .row {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding: 30px 10px;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .item {
        label {
          display: block;
          text-align: start !important;
          margin-left: 10px;
          font-weight: 600;
        }
        input {
          height: 48px;
          padding: 10px;
          margin: 10px;
          border: none;
          width: 400px;
          border-radius: 6px;
          border: 1px solid #ccc;
          transition: all 0.5s ease;
          box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
          &:focus {
            transition: all 0.5s ease;
            border-color: var(--skin-color);
          }
        }
      }
      button {
        border: none;
        color: #fff;
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: 6px;
        transition: all 0.5s ease;
        background-color: #ffc107;
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        &:hover {
          opacity: 0.7;
          letter-spacing: 1px;
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }
      p {
        a {
          font-weight: 600;
          transition: all 0.5s ease;
          color: var(--skin-color);
          &:hover {
            opacity: 0.7;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

/* products */

.products {
  padding-top: 100px;
  .item {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    h3 {
      margin: 15px 0;
    }
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .icons {
      display: flex;
      justify-content: space-between;
    }
  }
}
