@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --skin-color: #ffc107;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: #f2f2fc;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Title Section */

.section-title {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  color: var(--text-black-900);
}

.section-title::before {
  left: 0;
  top: 100%;
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: #ffc107;
}

.section-title::after {
  left: 0;
  top: 100%;
  content: "";
  width: 25px;
  height: 4px;
  margin-top: 8px;
  position: absolute;
  background-color: #ffc107;
}

/* ========== Nav Bar  ========== */

nav {
  padding: 15px !important;

  a {
    img {
      width: 40px;
    }
  }

  ul {
    li {
      a {
        font-size: 18px !important;
      }

      a.active {
        color: #ffc107 !important;
      }
    }
  }

  button {
    border: none;
  }

  i {
    font-size: 24px !important;
    opacity: 0.5;
  }

  .registerBtn {
    a {
      border: none;
      color: #fff;
      margin: 10px 5px;
      padding: 5px 10px;
      border-radius: 6px;
      transition: all 0.5s ease;
      background-color: #ffc107;

      box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

      &:hover {
        opacity: 0.7;
        letter-spacing: 1px;
        transition: all 0.5s ease;
      }
    }
  }

  #nameUser {
    margin: 0 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
  }
}


/* ========== Register  ========== */

.register {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  .row {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding: 30px 10px;

    @media (max-width: 767px) {
      width: 100%;
    }

    .form {
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;

      .item {
        label {
          display: block;
          font-weight: 600;
          margin-left: 10px;
          text-align: start !important;
        }

        input {
          height: 48px;
          margin: 10px;
          border: none;
          width: 400px;
          padding: 10px;
          border-radius: 6px;
          border: 1px solid #ccc;
          transition: all 0.5s ease;
          box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

          &:focus {
            transition: all 0.5s ease;
            border-color: var(--skin-color);
          }

          @media (max-width: 767px) {
            width: 300px;
            margin: 0;
          }
        }
      }

      button {
        border: none;
        color: #fff;
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: 6px;
        transition: all 0.5s ease;
        background-color: #ffc107;
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

        &:hover {
          opacity: 0.7;
          letter-spacing: 1px;
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }

      p {
        a {
          font-weight: 600;
          transition: all 0.5s ease;
          color: var(--skin-color);

          &:hover {
            opacity: 0.7;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

/* ========== Products  ========== */

.products {
  padding-top: 100px;

  .item {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

    h3 {
      margin: 15px 0;
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }

    .icons {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* ========== Cart  ========== */

.cart {
  padding: 100px 0;

  h4 {
    text-align: center;
    font-size: 40px;
    color: #ccc;
  }

  .product {
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

    .image {
      img {
        width: 100px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      p.title {
        font-weight: 600;
        font-size: 22px;
      }

      p.price {
        font-weight: 600;
        font-size: 14px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      i {
        margin: 10px 0;
        font-size: 18px;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.1) translate(-5px, 5px);
          transition: all 0.5s ease;
        }
      }

      button {
        color: #fff;
      }
    }
  }
}